pkgbase = ros-melodic-franka-visualization
	pkgdesc = This package contains visualization tools for Franka Emika.
	pkgver = 0.6.0
	pkgrel = 2
	url = http://wiki.ros.org/franka_visualization
	arch = i686
	arch = x86_64
	arch = aarch64
	arch = armv7h
	arch = armv6h
	license = Apache 2.0
	makedepends = cmake
	makedepends = ros-build-tools
	makedepends = ros-melodic-catkin
	depends = ros-melodic-sensor-msgs
	depends = ros-melodic-roscpp
	depends = ros-melodic-libfranka
	depends = ros-melodic-franka-description
	depends = ros-melodic-xacro
	provides = ros-melodic-franka-visualization
	conflicts = ros-melodic-franka-visualization
	source = ros-melodic-franka-visualization-0.6.0.tar.gz::https://github.com/frankaemika/franka_ros/archive/0.6.0.tar.gz
	sha256sums = 6bfc7f743569e7491d44b82e1b9c39ace55881b7f42e4952e202e13d1e70a6b9

pkgname = ros-melodic-franka-visualization

